/**
 * YouTrack Worklog Viewer basic styling
 */
.root {
    -ytwlv-faint-text-color: derive(-fx-text-background-color, -15%);
}

#fetchWorklogButton {
    -fx-background-image: url(../img/application_view_detail.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

.resolved-issue-cell .text {
    -fx-strikethrough: true;
}

.issue-cell:hover {
    -fx-cursor: hand;
}

.timespent-cell {
    -fx-alignment: center-right;
}

.summary-cell {
    -fx-font-weight: bold;
    -fx-alignment: center-right;
}

.group-cell, .group-title-cell {
    -fx-font-weight: bold;
}

.group-cell {
    -fx-alignment: center-right;
}

.scroll-bar {
    -fx-unit-increment: 100.0;
    -fx-block-increment: 500.0;
}

.task-by-user-statistics-username {
    -fx-padding: 20 0 0 0;
}

.task-by-user-statistics-percentage {
    -fx-alignment: center-right;
    -fx-padding: 0 0 0 20;
    -fx-column-halignment: right;
}

.task-by-user-statistics-total-spent-time-label,
.task-by-user-statistics-username,
.task-by-user-statistics-project,
.task-by-user-statistics-percentage,
.task-by-user-statistics-total-spent-time {
    -fx-font-weight: bold;
}

.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background, -5%);
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

.task-progress-bar > .task-name-text, .task-progress-bar > .progress-text {
    -fx-font-size: 10.0;
    -fx-stroke-type: OUTSIDE;
    -fx-stroke-width: 0.0;
}

.task-progress-bar > .task-name-text {
    -fx-start-margin: 5;
}

/* http://blog.mynotiz.de/programmieren/java/javafx-progress-bar-css-styling-2271/ */
.progress-bar > .track {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-background-color: derive(-fx-accent, -40%);
}

.progress-bar > .bar {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.6em;
    -fx-background-color: derive(-fx-accent, 5%);
}

#logMessagesComponent {
    -fx-font-size: 11;
    -fx-font-family: "DejaVu Sans Mono", monospace;
}

.hint-label {
     -fx-text-fill: derive(-fx-light-text-color, -40%);
}

.tree-parent {
    -fx-font-weight: bold;
    -fx-padding: 7 0 7 0;
    -fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
}

.chart-title {
    -fx-text-alignment: CENTER;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
}

Text {
    -fx-fill: -fx-text-background-color;
}

.statistics-label {
    -fx-font-weight: bold;
}

.search-result-issue {
    -fx-padding: 5.0;
}

.search-result-issue.resolved .issue-id,
.search-result-issue.resolved .issue-title {
    -fx-strikethrough: true;
}

.search-result-issue .issue-id, .search-result-issue .issue-title {
    -fx-font-size: 16.0;
}

.search-result-issue .issue-fields {
    -fx-start-margin: 10.0;
}

.search-result-issue-field {
    -fx-padding: 2.0;
    -fx-spacing: 5.0;
}

.search-result-issue-field .field-name,
.search-result-issue-field .field-value {
    -fx-font-size: 11.0;
    -fx-text-fill: -ytwlv-faint-text-color;
}

.search-result-issue-field .field-name {
    -fx-font-weight: bold;
}

.chart-label {
    -fx-background: rgba(30,30,30);
    -fx-text-fill: white;
    -fx-background-color: rgba(30,30,30,0.8);
    -fx-background-radius: 6px;
    -fx-background-insets: 0;
    -fx-padding: 0.667em 0.75em 0.667em 0.75em; /* 10px */
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 0.85em;
}