/**
 * Dark Theme
 */
.root {
    -ytwlv-dark-background-color: #2a2a2a;
    -ytwlv-bright-text-color: derive(whitesmoke, -20%);
    -ytwlv-faint-text-color: derive(-fx-light-text-color, -20%);;
    -ytwlv-warning-color: #b12b44;
    -ytwlv-highlighted-text-color: #245d81;
    -ytwlv-bright-highlighted-text-color: derive(-ytwlv-highlighted-text-color, 80%);
    -ytwlv-inactive-tab-foreground-color: -ytwlv-bright-text-color;
    -ytwlv-inactive-tab-background-color: #35383a;
    -ytwlv-inactive-tab-hover-foreground-color: -ytwlv-bright-text-color;
    -ytwlv-search-hover-cell-background-color: -ytwlv-dark-background-color;
    -ytwlv-time-report-grouping-background-color: derive(-ytwlv-highlighted-text-color, -40%);
    -ytwlv-summary-background-color: derive(-ytwlv-time-report-grouping-background-color, -20%);
    -ytwlv-today-cell-background-color: rgba(193, 255, 152, 0.2);
    -ytwlv-highlight-cell-background-color: rgba(75, 165, 229, 0.2);

    -ytwlv-border-color: derive(-fx-base, 20%);

    -fx-base: #2f2f2f;
    -fx-accent: -ytwlv-highlighted-text-color;
    -fx-selection-bar-non-focused: #282b36;

    -fx-background-color: -ytwlv-dark-background-color;
    -fx-control-inner-background: -fx-base;
    -fx-default-button: -fx-accent;
    -fx-hover-base: derive(-fx-base, 10%);
    -fx-focus-color: -ytwlv-highlighted-text-color;
    -fx-faint-focus-color: transparent;
}

.menu-bar,
.statistics-pane,
.statistic-item,
.chart-plot-background {
    -fx-background-color: -fx-base;
}

.chart-legend {
    -fx-background-color: derive(-fx-base,-20%);
}

.series0 {
    -fx-bar-fill: #deab10;
    -fx-pie-color: #deab10;
}

.tool-bar {
    -fx-background-color: -fx-base;
    -fx-border-width: 1px 0 1px 0;
    -fx-border-color: derive(-fx-base, 20%);
    -fx-padding: 7px 18px 7px 18px;
}

.favourite-issue-cell,
.favourite-search-cell,
.time-report-table .issue-title,
.hyperlink {
    -fx-text-fill: -ytwlv-bright-highlighted-text-color;
}

.search-result-issue .issue-id,
.search-result-issue .issue-title {
    -fx-text-fill: -ytwlv-bright-highlighted-text-color;
}

.search-result-issue .issue-description {
    -fx-text-fill: derive(-ytwlv-faint-text-color, 60%);
}

.tab-pane > .tab-header-area > .tab-header-background,
.statistics,
.about-dialog,
.statistics > *,
.accordion > .titled-pane > *.content,
#resultTabPane {
    -fx-background-color: -ytwlv-dark-background-color;
}

.issue-search,
.tab-pane > .tab-content-area .split-pane {
    -fx-background-color: derive(-fx-base, 10%);
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-radius: 0;
    -fx-background-color: transparent, derive(-fx-base, 5%);
    -fx-background-insets: 0, 0 3 0 0;
    -fx-padding: 0.1em 0.7em 0.1em 0.5em;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected,
.tab-pane > .tab-header-area > .headers-region > .tab:selected:hover {
    -fx-background-color: transparent, -fx-accent, derive(-fx-base, 10%);
    -fx-background-insets: 0, 0 3 0 0, 3 3 0 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label,
.tab-pane > .tab-header-area > .headers-region > .tab:selected:hover > .tab-container > .tab-label {
    -fx-text-fill: -ytwlv-bright-highlighted-text-color;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-background-color: transparent, -ytwlv-border-color;
    -fx-background-insets: 0, 0 3 0 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
}

.search-result-issue-field .field-name,
.search-result-issue-field .field-value {
    -fx-font-size: 11.0;
    -fx-text-fill: derive(-ytwlv-bright-text-color, -30%);
}

.progress-text,
.task-name-text {
    -fx-fill: -ytwlv-bright-text-color;
}

.separator:horizontal .line {
    -fx-border-color: -fx-shadow-highlight-color transparent transparent transparent;
    -fx-border-insets: 1 0 0 0;
}

.separator:vertical .line {
    -fx-border-color: transparent transparent transparent -fx-shadow-highlight-color;
    -fx-border-width: 1;
    -fx-border-insets: 2 0 2 0;
}

.chart-vertical-grid-lines,
.chart-horizontal-grid-lines {
    -fx-stroke: derive(-fx-background, -20%);
}

.date-picker-popup {
    -fx-border-width: 1;
    -fx-border-color: -ytwlv-border-color;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: -fx-base;
}

.date-picker-popup > * > .spinner > .button:hover,
.date-picker-popup > * > .spinner > .button:focused {
    -fx-color: transparent;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: derive(-ytwlv-border-color, 20%);
}

.date-picker-popup > * > .spinner > .button:hover > .left-arrow,
.date-picker-popup > * > .spinner > .button:hover > .right-arrow {
    -fx-background-color: derive(-ytwlv-border-color, 80%);
}

.date-picker-popup > * > .spinner > .button:focused > .left-arrow,
.date-picker-popup > * > .spinner > .button:focused > .right-arrow {
    -fx-background-color: derive(-fx-accent, 40%);
}

.date-picker-popup > .month-year-pane {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -ytwlv-border-color;
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > .calendar-grid {
    -fx-background-color: -ytwlv-dark-background-color;
    -fx-text-fill: -fx-accent;
}

.date-picker-popup > * > .day-cell {
    -fx-border-color: -ytwlv-dark-background-color;
}

.date-picker-popup > * > .today {
    -fx-font-weight: bold;
    -fx-background-color: -fx-accent, -fx-background;
    -fx-background-insets: 0, 3;
}

.date-picker-popup > * > .selected {
    -fx-background-color: -fx-accent;
}

.time-report-table .cell:filled:selected {
    -fx-background-color: derive(-fx-accent, 20%);
    -fx-table-cell-border-color: derive(-fx-accent, 20%);
}