/*+
 * Dark theme for the YouTrack Worklog Viewer
 * For a full reference of the available properties
 * in a JavaFX application see modena.css or
 * https://docs.oracle.com/javase/8/javafx/api/javafx/scene/doc-files/cssref.html
 */
.root {
    -fx-base: derive(#3c3f41, -20%);
    -fx-accent: #245d81;
    -fx-default-button: -fx-accent;
    -fx-light-text-color: derive(whitesmoke, -20%);
    -fx-control-inner-background: -fx-base;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-hover-base: derive(-fx-base, 10%);

    -ytwlv-border-color: derive(-fx-base, 20%);
    -ytwlv-dark-background-color: #2a2a2a;
}

.menu-bar {
    -fx-background-color: -ytwlv-dark-background-color;
}

.menu-item {
    -fx-padding: 7px 20px 7px 20px;
}

.required {
    -fx-border-color: #94081c;
}

.tool-bar {
    -fx-background-color: -fx-base;
    -fx-border-width: 1px 0 1px 0;
    -fx-border-color: -ytwlv-border-color;
    -fx-padding: 7px 18px 7px 18px;
}

.context-menu {
    -fx-background-color: -fx-base;
    -fx-border-width: 1px;
    -fx-border-color: -fx-shadow-highlight-color;
    -fx-padding: 5px 0 5px 0;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: -fx-shadow-highlight-color transparent transparent transparent;
    -fx-border-insets: 1 0 0 0;
}

/* http://blog.mynotiz.de/programmieren/java/javafx-progress-bar-css-styling-2271/ */
.progress-bar > .track {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-background-color: derive(-fx-accent, -40%);
}

.progress-bar > .bar {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.6em;
    -fx-background-color: derive(-fx-accent, 5%);
}

.tab-pane > .tab-header-area > .tab-header-background,
.statistics,
.about-dialog,
.statistics > *,
.accordion > .titled-pane > *.content,
#resultTabPane {
    -fx-background-color: -ytwlv-dark-background-color;
}

.tab-pane > .tab-content-area .split-pane {
    -fx-background-color: derive(-fx-base, 10%);
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-radius: 0;
    -fx-background-color: transparent, derive(-fx-base, 5%);
    -fx-background-insets: 0, 0 3 0 0;
    -fx-padding: 0.1em 0.7em 0.1em 0.5em;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected,
.tab-pane > .tab-header-area > .headers-region > .tab:selected:hover {
    -fx-background-color: transparent, -fx-accent, derive(-fx-base, 10%);
    -fx-background-insets: 0, 0 3 0 0, 3 3 0 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label,
.tab-pane > .tab-header-area > .headers-region > .tab:selected:hover > .tab-container > .tab-label {
    -fx-text-fill: derive(-fx-accent, 60%);
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-background-color: transparent, -ytwlv-border-color;
    -fx-background-insets: 0, 0 3 0 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
}

.progress-text {
    -fx-fill: -fx-light-text-color;
    -fx-font-size: 9pt;
}

.group-cell, .group-title-cell {
    -fx-background-color: derive(-fx-accent, -30%) !important;
    -fx-font-size: 12pt;
    -fx-fill: derive(-fx-light-text-color, -60%);
}

.group-cell.today-highlight-cell, .group-title-cell.today-highlight-cell {
    -fx-background-color: rgba(42, 178, 180, 0.2) !important;
}

.today-highlight-cell {
    -fx-background-color: rgba(172, 225, 164, 0.3);
}

.highlight-cell {
    -fx-background-color: rgba(36, 93, 126, 0.2);
}

/*.issue-cell {*/
/*-fx-text-fill: -fx-accent;*/
/*-fx-highlight-text-fill: derive(-fx-accent, -60%);*/
/*}*/

/*.resolved-issue-cell {*/
/*-fx-text-fill: derive(-fx-accent, -20%);*/
/*}*/

.combo-box-popup > .list-view {
    -fx-background-color: -fx-base;
    -fx-border-width: 1px;
    -fx-border-color: -fx-shadow-highlight-color;
}

.combo-box-popup > .list-view {
    -fx-pref-width: 300px;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 7px 20px 7px 20px;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background-insets: 0;
}

.chart-plot-background, .chart-legend {
    -fx-background-color: rgba(255, 255, 255, 0.05);
}

.chart-legend {
    -fx-background-insets: 0;
    -fx-background-radius: 2;
    -fx-padding: 6px;
}

.date-picker-popup {
    -fx-border-width: 1;
    -fx-border-color: -ytwlv-border-color;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: -fx-base;
}

.date-picker-popup > * > .spinner > .button:hover,
.date-picker-popup > * > .spinner > .button:focused {
    -fx-color: transparent;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: derive(-ytwlv-border-color, 20%);
}

.date-picker-popup > * > .spinner > .button:hover > .left-arrow,
.date-picker-popup > * > .spinner > .button:hover > .right-arrow {
    -fx-background-color: derive(-ytwlv-border-color, 80%);
}

.date-picker-popup > * > .spinner > .button:focused > .left-arrow,
.date-picker-popup > * > .spinner > .button:focused > .right-arrow {
    -fx-background-color: derive(-fx-accent, 40%);
}

.date-picker-popup > .month-year-pane {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -ytwlv-border-color;
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > .calendar-grid {
    -fx-background-color: -ytwlv-dark-background-color;
    -fx-text-fill: -fx-accent;
}

.date-picker-popup > * > .day-cell {
    -fx-border-color: -ytwlv-dark-background-color;
}

.date-picker-popup > * > .today {
    /*-fx-text-fill: -fx-accent;*/
    -fx-font-weight: bold;
    -fx-background-color: -fx-accent, -fx-background;
    -fx-background-insets: 0, 3;
}

.date-picker-popup > * > .selected {
    -fx-background-color: -fx-accent;
}