/**
 * Light Theme
 */
.root {
    -fx-accent: #089acb;
    -ytwlv-time-report-grouping-background-color: #c8ddff;
    -ytwlv-today-cell-background-color: rgba(178, 233, 255, 0.5);
    -ytwlv-highlight-cell-background-color: rgba(189, 255, 209, 0.5);
}

.time-report-table .grouping-item,
.time-report-table .summary-item,
.time-report-table .cell:selected .grouping-item,
.time-report-table .cell:selected .summary-item {
    -fx-text-fill: -ytwlv-dark-text-color;
}

.time-report-table .tree-cell > .tree-disclosure-node > .arrow,
.time-report-table .tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -ytwlv-dark-text-color;
}