* {
    font-family: sans-serif;
    font-size: 12pt;
    color: #c4c4c4;
}

body {
    background: #303234;
}

.prewrapped {
    white-space: pre-wrap;
}

.text {
    line-height: 17pt;
}

.text ul {
    padding-left: 2em;
    margin-left: 25pt;
    list-style: disc outside;
}

.text ul.wiki-list0 {
    list-style-type: disc;
    padding-left: 0;
}

a {
    color: #87afc7;
    text-decoration: none;
    cursor: pointer;
}

a.issue-resolved {
    color: #828282;
    text-decoration: line-through;
}

table {
    display: table;
    width: auto !important;
    table-layout: auto !important;
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    border: 1px solid #4c4c4c;
    margin-left: 1px;
    margin-top: 1px;
}

th {
    padding: 6px;
    font-weight: bold;
    color: #d6d6d6;
    border: 1px solid #4c4c4c;
    background-color: #5a5a5a;
}

td {
    padding: 4px 6px;
    border: 1px solid #4c4c4c;
}