/**
 * YouTrack Worklog Viewer basic styling
 */
.resolved-issue-cell .text {
    -fx-strikethrough: true;
}

.issue-cell:hover {
    -fx-cursor: hand;
}

.timespent-cell {
    -fx-alignment: center-right;
}

.summary-cell {
    -fx-font-weight: bold;
    -fx-alignment: center-right;
}

.group-cell, .group-title-cell {
    -fx-font-weight: bold;
}

.group-cell {
    -fx-alignment: center-right;
}

.scroll-bar {
    -fx-unit-increment: 100.0;
    -fx-block-increment: 500.0;
}

.task-by-user-statistics-username {
    -fx-padding: 20 0 0 0;
}

.task-by-user-statistics-percentage {
    -fx-alignment: center-right;
    -fx-padding: 0 0 0 20;
    -fx-column-halignment: right;
}

.task-by-user-statistics-total-spent-time-label,
.task-by-user-statistics-username,
.task-by-user-statistics-project,
.task-by-user-statistics-percentage,
.task-by-user-statistics-total-spent-time {
    -fx-font-weight: bold;
}