/**
 * YouTrack Worklog Viewer basic styling
 */
.resolved-issue-cell .text {
    -fx-strikethrough: true;
}

.issue-cell:hover {
    -fx-cursor: hand;
}

.timespent-cell {
    -fx-alignment: center-right;
}

.summary-cell {
    -fx-font-weight: bold;
    -fx-alignment: center-right;
}

.group-cell, .group-title-cell {
    -fx-font-weight: bold;
}

.group-cell {
    -fx-alignment: center-right;
}

.scroll-bar {
    -fx-unit-increment: 100.0;
    -fx-block-increment: 500.0;
}
