/*+
 * Dark theme for the YouTrack Worklog Viewer
 * For a full reference of the available properties
 * in a JavaFX application see modena.css or
 * https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
 */
.root {
    -fx-base: derive(#3c3f41, -20%);
    -fx-accent: #245d81;
    -fx-light-text-color: derive(whitesmoke, -20%);
    -fx-control-inner-background: -fx-base;
}

.menu-bar {
    -fx-background-color: #2a2a2a;
}

.menu-item {
    -fx-padding: 7px 20px 7px 20px;
}

.tool-bar {
    -fx-background-color: -fx-base;
    -fx-border-width: 1px 0 1px 0;
    -fx-border-color: derive(-fx-base, 20%);
    -fx-padding: 7px 18px 7px 18px;
}

.context-menu {
    -fx-background-color: -fx-base;
    -fx-border-width: 1px;
    -fx-border-color: -fx-shadow-highlight-color;
    -fx-padding: 5px 0 5px 0;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: -fx-shadow-highlight-color transparent transparent transparent;
    -fx-border-insets: 1 0 0 0;
}

/* http://blog.mynotiz.de/programmieren/java/javafx-progress-bar-css-styling-2271/ */
.progress-bar > .track {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-background-color: derive(-fx-accent, -40%);
}

.progress-bar > .bar {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.6em;
    -fx-background-color: derive(-fx-accent, 5%);
}

#resultTabPane {
    -fx-background-color: #2a2a2a;
}

.progress-text {
    -fx-fill: -fx-light-text-color;
    -fx-font-size: 9pt;
}

.combo-box-popup > .list-view {
    -fx-background-color: -fx-base;
    -fx-border-width: 1px;
    -fx-border-color: -fx-shadow-highlight-color;
}

.combo-box-popup > .list-view {
    -fx-pref-width: 300px;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 7px 20px 7px 20px;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background-insets: 0;
}