#fetchWorklogButton {
    -fx-background-image: url(../img/application_view_detail.png);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
}

#waitScreenOverlay .progress-indicator {
    -fx-progress-color: #a5cdff;
}

.required {
    -fx-border-color: red;
}

.weekend {
    -fx-background-color: rgba(189, 255, 209, 0.5);
}

.today {
    -fx-background-color: rgba(178, 233, 255, 0.5);
}

.tree-table-view .column-header {
    -fx-font-size: 11px;
}

.tree-table-cell {
    -fx-font-size: 11px;
}

.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;
}

.tree-table-row-cell:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background, -5%);
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

.scroll-bar {
    -fx-unit-increment: 100.0;
    -fx-block-increment: 500.0;
}

.tree-table-view:focused .tree-table-row-cell:filled:focused:selected .issue-cell {
    -fx-text-fill: #ffffff;
}

.issue-cell {
    -fx-text-fill: #3b6aed;
    -fx-highlight-text-fill: #ffffff;
    -fx-underline: true;
}

.issue-cell:hover {
    -fx-cursor: hand;
}

.summary {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.group {
    -fx-background-color: #c8ddff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

